
// UI Variables
// -------------------

// These are the official UI variables that every UI theme should define.
// It allows other packages to match your theme.

// Overrides: atom/static/variables/ui-variables.less

// Try to edit some of the values below to see your theme change.
// A good start is to change the color of the `@base-background-color` variable.


// Text Colors
@text-color:           #ccc;
@text-color-subtle:    #999;
@text-color-highlight: #fff;
@text-color-selected:  #eee;

@text-color-info:    #73c3fa; // light blue
@text-color-success: #bff57f; // light green
@text-color-warning: #f5e97f; // light yellow
@text-color-error:   #ff6b80; // light red

// Background colors
@background-color-info:    #368cc9; // dark blue
@background-color-success: #669429; // dark green
@background-color-warning: #a69a42; // dark yellow
@background-color-error:   #e03e56; // dark red

@background-color-highlight: lighten(@base-background-color, 5%);
@background-color-selected:  #000;
@app-background-color:       rgba(0,0,0, .8);

// Base colors
@base-background-color: transparent;
@base-border-color:     transparent;

// Component colors
@pane-item-background-color: #000;
@pane-item-border-color:     @base-border-color;

@input-background-color: #222;
@input-border-color:     @base-border-color;

@tool-panel-background-color: #000;
@tool-panel-border-color:     @base-border-color;

@inset-panel-background-color: lighten(@tool-panel-background-color, 4%);
@inset-panel-border-color:     @base-border-color;

@panel-heading-background-color: lighten(@inset-panel-background-color, 4%);
@panel-heading-border-color:     @base-border-color;

@overlay-background-color: @tool-panel-background-color;
@overlay-border-color:     @base-border-color;

@button-background-color:          #222;
@button-background-color-hover:    lighten(@button-background-color, 10%);
@button-background-color-selected: lighten(@button-background-color, 8%);
@button-border-color:              darken(@button-background-color, 5%);

@tab-bar-background-color:    @tool-panel-background-color;
@tab-bar-border-color:        @base-border-color;
@tab-background-color:        @tab-bar-background-color;
@tab-background-color-active: lighten(@tool-panel-background-color, 8%);
@tab-border-color:            @base-border-color;

@tree-view-background-color: @base-background-color;
@tree-view-border-color:     @base-border-color;

// Site colors
@ui-site-color-1: #4eaff2; // blue
@ui-site-color-2: #a9e364; // green
@ui-site-color-3: #ff8757; // orange
@ui-site-color-4: #ff4db8; // pink
@ui-site-color-5: #ebdc6a; // yellow

// Sizes
@font-size: 14px;
@input-font-size: 14px;

@disclosure-arrow-size: 12px;

@component-padding: 15px;
@component-icon-padding: 5px;
@component-icon-size: 14px;
@component-line-height: 28px;

@tab-height: 38px;

// Misc
@component-border-radius: 2px;
@font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
